SA_PASSWORD=TCMart@2026!Strong
POSTGRES_USER=tcmart
POSTGRES_PASSWORD=tcmart2026
POSTGRES_DB=postgres
ORACLE_PASSWORD=TCMart2026
ORACLE_APP_USER=tcmart
ORACLE_APP_USER_PASSWORD=tcmart2026
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin2026
MINIO_DEFAULT_BUCKETS=bronze,silver,gold,raw-files
KAFKA_BROKER_ID=1
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=tcmart2026
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
